langgraph
langchain
langchain_ollama
langchain_community
streamlit
langgraph-checkpoint-sqlite
dotenv
ddgs
pypdf
faiss-cpu
langgraph-checkpoint-postgres 
pydantic
psycopg[binary,pool]
langchain-tavily