langgraph
langchain
langchain_community
langchain-groq
langchain-tavily
tavily-python
streamlit
pandas
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
python-dotenv
ddgs
pypdf
faiss-cpu
pydantic
psycopg[binary,pool]